.embed-video-container {
    position: relative;
    height: 0;
    overflow: hidden;
    height: 400px;
    width: 500px;
    margin-left:auto;
    margin-right:auto;
}

.embed-video-container iframe,
.embed-video-container object,
.embed-video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 400px;
    margin-left:auto;
    margin-right:auto;
}

article .flash-video {
 border: 0px;
}
